@import './common/styles/variables.css';
@import './common/styles/commonClasses.css';
@import './common/styles/animation.css';
@import './common/fonts/fonts.css';

body {
  margin: 0;
  font-family: 'Circular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
